{% extends "motherapp/mlayout.html" %}
{% block content %}

<br><br><br><br>
<body>
    <div class="wrapper">
        <div id="content">

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center"><b>Notifications</b></h2>
            <br>
            <!--// main-heading -->

            <!-- Grids Content -->
            <section class="grids-section bd-content">

                <!-- Grids Info -->
                <div class="outer-w3-agile mt-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Message From
                                </th>
                                <th class="text-center">
                                    Message
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{i.sender}}</td>
                                <td>{{i.message}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>   
        </div>
    </div>

</body>

{% endblock %}
