<html lang="zxx"><head>
    <title>Fairyland - Babycare :: Motherapp Layout</title>
    <!-- Meta tag Keywords -->
  
    <script>
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="../static/publicapp/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap-CSS -->
    <link href="../static/publicapp/css/style.css" rel="stylesheet" type="text/css">
    <!-- Style-CSS -->
    <link href="../static/publicapp/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="{% url 'about' %}">Fairyland :: Motherapp</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li><a href="{% url 'mprofile' %}">Profile</a></li>
                            <li><a href="{% url 'edit_mprofile' %}">Edit Details</a></li>
                            <li><a href="{% url 'minbox' %}">Inbox</a></li>
                            <li><a href="{% url 'mdoctors' %}">Doctors</a></li>
                            <li><a href="{% url 'mworkers' %}">Workers</a></li>
                            <li><a href="{% url 'mcontact' %}">Contact</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->

    {% block content %}
    {% endblock %}

    <footer class="py-5">
        <div class="container py-xl-4 py-lg-3">
            <div class="row footer-grids">
                <div class="col-lg-2 col-6 footer-grid">
                    <h3 class="mb-sm-4 mb-3">Navigation</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'service' %}">Services</a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-grid">
                    <h3 class="mb-sm-4 mb-3">Some More</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact Us</a>
                        </li>                    
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-grid footer-contact mt-lg-0 mt-4">
                    <h3 class="mb-sm-4 mb-3">Get In Touch</h3>
                    <ul class="list-unstyled">
                        <li>
                            +01(24) 8543 8088
                        </li>
                        <li>
                            <a href="#">fairyland@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
                    <div class="footer-logo">
                        <h2 class="text-lg-center text-center">
                            <a class="logo text-wh font-weight-bold" href="{% url 'about' %}">
                                Fairyland</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-w3ls py-4">
        <div class="container">
            <div class="row">
                <!-- copyright -->
                <p>© 2020 Fairyland :: Babycare. All Rights Reserved | Design by
                    <a href="#"> Fairyland </a>
                </p>
                <!-- //copyright -->
                <!-- social icons -->
                <div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
                    <ul>
                        <li>
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="px-2">
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="pl-2">
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //social icons -->
            </div>
        </div>
    </div>

</body></html>