{% extends "adminapp/alayout.html" %}
{% block content %}

<body>
    <div class="wrapper">
        <div id="content">

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Workers</h2>
            <!--// main-heading -->

            <!-- Grids Content -->
            <section class="grids-section bd-content">

                <!-- Grids Info -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Active Workers</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    No.
                                </th>
                                <th class="text-center">
                                    Worker's Name
                                </th>
                                <th class="text-center">
                                    Worker ID Number
                                </th>
                                <th class="text-center">
                                    Email
                                </th>
                                <th class="text-center">
                                    Phone
                                </th>
                                <th class="text-center">
                                    Address
                                </th>
                                <th class="text-center">
                                    Working Area
                                </th>
                                <th class="text-center">
                                    Block
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.worker_id_number}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.number}}</td>
                                <td>{{i.address}}</td>
                                <td>{{i.place}}</td>
                                <td><a href="{% url 'worker_delete' id=i.id%}">Block Now</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>   
        </div>
    </div>

</body>

{% endblock %}