{% extends "publicapp/playout.html" %}
{% block content %}

<section class="w3ls-bnrbtm py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">About Us</h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <br><br><br><br>
                <img src="../static/publicapp/images/t10.jpg" style="width: 100%;height: 60%" alt="about" class="img-fluid mt-4">
            </div>
            <div class="col-lg-6 pr-xl-5 mt-4">
                <h3 class="title-sub mb-4">SENTIMENT ANALYSIS BASED ON DYNAMIC SOCIAL NETWORK DATA</h3>
                <p class="sub-para">Sentiment Analysis is the process of ‘computationally’ determining whether a piece of writing is positive, negative or neutral. It’s also known as opinion mining, deriving the opinion or attitude of a speaker. Sentiment analysis is extremely useful in social media monitoring as it allows us to gain an overview of the wider public opinion behind certain topics. Social media monitoring tools make that process quicker and easier than ever before, thanks to real-time monitoring capabilities.The applications of sentiment analysis are broad and powerful. The ability to extract insights from social data is a practice that is being widely adopted by organisations across the world..</p>
            
      <p class="sub-para pt-4 mt-4 border-top">Twitter as a micro-blogging platform rose to instant fame mainly due 
          to its minimalist features that allow seamless communication between users. As the conversations grew thick 
          and faster, a placeholder feature called as Hashtags became important as it captured the themes behind the 
          tweets. Prior studies have investigated the conversation dynamics, interplay with other media platforms and 
          communication patterns between users for specific event-based hashtags such as the #Occupy movement.
           Commonplace hashtags which are used on a daily basis have been largely ignored due to their seemingly 
           innocuous presence in tweets and also due to the lack of connection with real-world events. 
           However, it can be postulated that utility of these hashtags is the main reason behind their continued usage.
           This study is aimed at understanding the rationale behind the usage of a particular type of commonplace 
           hashtags:-location hashtags such as country and city name hashtags.</p>
            </div></div>
        </div>
    </div>
</section>

{% endblock %}
